.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  @extend button;
  margin: 5px;
  background-color: $white;
  font-family: $sans-serif;
  &:hover {
    background-color: $lightest-gray;
  }
}

.right-nav {
  position: relative;
}

.right-nav > ul > li {
  margin: 2px;
}



.right-nav i {
  @extend button;
  background-color: $white;
  color: $black;
  font-size: 24px;
  padding: 7px;
  &:hover {
    background-color: $lightest-gray;
  }
}
