<section id='section_nav'>
  <ul>
    <li class='section_link'><a href="#">World</a></li>
    <li class='section_link'><a href="#">San Francisco</a></li>
    <li class='section_link'><a href="#">New York</a></li>
    <li class='section_link'><a href="#">Bootcamp Prep</a></li>
    <li class='section_link'><a href="#">Jumpstart</a></li>
    <li class='section_link'><a href="#">Online</a></li>
    <li class='section_link'><a href="#">Marketing</a></li>
    <li class='section_link'><a href="#">Sales</a></li>
    <li class='section_link'><a href="#">TalentMatch</a></li>
    <li class='section_link'><a href="#">Alumni</a></li>
    <li class='all_link'><a href="#">All</a></li>
  </ul>
</section>
