#section_nav {

  ul {
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-bottom: 1px solid $light-gray;
    font-family: $sans-serif;
    li {
      margin: 7px;
    }
  }
}

.section_link {
  background-color: $white;
  color: $black;
  font-size: 14px;

  &:hover {
    background-color: $lightest-gray;
  }
}

.all_link {
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}
